In [7]:
import pandas as pd
from pymysql import connect
from sqlalchemy import create_engine

In [11]:
df = pd.read_excel('C:/mestrado-ifpb/trabalho-infantil/remote_data/RELATORIO_DTB_BRASIL_MUNICIPIO.xls')

In [12]:
df.head()

,UF,Nome_UF,Região Geográfica Intermediária,Nome Região Geográfica Intermediária,Região Geográfica Imediata,Nome Região Geográfica Imediata,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,Código Município Completo,Nome_Município
0,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste
1,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis
2,11,Rondônia,1101,Porto Velho,110002,Ariquemes,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso
3,11,Rondônia,1102,Ji-Paraná,110004,Ji-Paraná,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste
4,11,Rondônia,1101,Porto Velho,110002,Ariquemes,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes

In [13]:
df.columns

Index(['UF', 'Nome_UF', 'Região Geográfica Intermediária',
       'Nome Região Geográfica Intermediária', 'Região Geográfica Imediata',
       'Nome Região Geográfica Imediata', 'Mesorregião Geográfica',
       'Nome_Mesorregião', 'Microrregião Geográfica', 'Nome_Microrregião',
       'Município', 'Código Município Completo', 'Nome_Município'],
      dtype='object')

In [14]:
change_names = {'UF':'CDUF', 
                'Nome_UF':'NOUF', 
                'Região Geográfica Intermediária':'CDRGI',
                'Nome Região Geográfica Intermediária':'NORGI', 
                'Região Geográfica Imediata':'RGInt',
                'Nome Região Geográfica Imediata':'NORGInt', 
                'Mesorregião Geográfica':'CDMesorregiao',
                'Nome_Mesorregião':'NOMesorregiao',
                'Microrregião Geográfica':'CDMicrorregiao',
                'Nome_Microrregião':'NOMicrorregiao',
                'Município':'IndexMunicipio', 
                'Código Município Completo':'CDMunicipio',
                'Nome_Município':'NOMunicipio'}

In [15]:
df = df.rename(columns=change_names)
df.head()

,CDUF,NOUF,CDRGI,NORGI,RGInt,NORGInt,CDMesorregiao,NOMesorregiao,CDMicrorregiao,NOMicrorregiao,IndexMunicipio,CDMunicipio,NOMunicipio
0,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,2,Leste Rondoniense,6,Cacoal,15,1100015,Alta Floresta D'Oeste
1,11,Rondônia,1102,Ji-Paraná,110005,Cacoal,2,Leste Rondoniense,6,Cacoal,379,1100379,Alto Alegre dos Parecis
2,11,Rondônia,1101,Porto Velho,110002,Ariquemes,2,Leste Rondoniense,3,Ariquemes,403,1100403,Alto Paraíso
3,11,Rondônia,1102,Ji-Paraná,110004,Ji-Paraná,2,Leste Rondoniense,5,Alvorada D'Oeste,346,1100346,Alvorada D'Oeste
4,11,Rondônia,1101,Porto Velho,110002,Ariquemes,2,Leste Rondoniense,3,Ariquemes,23,1100023,Ariquemes

In [3]:
def cria_conexao(database:str, passwd: str,host:str="127.0.0.1", user:str='root'):
    con = connect(host=host,
                  user=user,
              password=passwd, database=database)
    cursor = con.cursor()
    return (con, cursor)

In [ ]:
df = pd.read_sql(, con=engine)